<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>MySQL connection pool</description>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/rds</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/localdb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.numina.tophits.scheduler.actions.PreContextListener</listener-class>
    </listener>
    
    <!-- Servlet Qualified Classes -->
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.numina.tophits.action.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>com.numina.tophits.action.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPrinters</servlet-name>
        <servlet-class>com.numina.tophits.action.ShowPrinters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.numina.tophits.action.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateConfirm</servlet-name>
        <servlet-class>com.numina.tophits.action.PopulateConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLaneState</servlet-name>
        <servlet-class>com.numina.tophits.action.CheckLaneState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaneClosing</servlet-name>
        <servlet-class>com.numina.tophits.action.LaneClosing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaneComplete</servlet-name>
        <servlet-class>com.numina.tophits.action.LaneComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitializeLane</servlet-name>
        <servlet-class>com.numina.tophits.action.InitializeLane</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepopulateCancel</servlet-name>
        <servlet-class>com.numina.tophits.action.PrepopulateCancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersistCommentOk</servlet-name>
        <servlet-class>com.numina.tophits.action.PersistComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NearCriteria</servlet-name>
        <servlet-class>com.numina.tophits.action.NearCriteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings</servlet-name>
        <servlet-class>com.numina.tophits.action.Settings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.numina.tophits.action.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaneStatus</servlet-name>
        <servlet-class>com.numina.tophits.action.LaneStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDevices</servlet-name>
        <servlet-class>com.numina.tophits.action.ShowDevices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUtility</servlet-name>
        <servlet-class>com.numina.tophits.action.ShowUtility</servlet-class>
    </servlet>
    
    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginservlet</servlet-name>
        <url-pattern>/Loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaneStatus</servlet-name>
        <url-pattern>/LaneStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPrinters</servlet-name>
        <url-pattern>/ShowPrinters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopulateConfirm</servlet-name>
        <url-pattern>/PopulateConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLaneState</servlet-name>
        <url-pattern>/CheckLaneState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaneClosing</servlet-name>
        <url-pattern>/LaneClosing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaneComplete</servlet-name>
        <url-pattern>/LaneComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitializeLane</servlet-name>
        <url-pattern>/InitializeLane</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepopulateCancel</servlet-name>
        <url-pattern>/PrepopulateCancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersistCommentOk</servlet-name>
        <url-pattern>/PersistCommentOk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NearCriteria</servlet-name>
        <url-pattern>/NearCriteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/Settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDevices</servlet-name>
        <url-pattern>/ShowDevices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUtility</servlet-name>
        <url-pattern>/ShowUtility</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Welcome</welcome-file>
    </welcome-file-list>
</web-app>
